.music-player {
    width: 100%;
    height: 100vh;
    background-color: black;
    position: fixed;
    display: flex;
    flex-direction: row;
}

.music-player-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 30px 10px 20px;
}

.play-bar {
    width: 100%;
    height: 75px;
    position: absolute;
    bottom: 0;
    background-color: #181818;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-bar {
    width: 100%;
    height: 5px;
    position: absolute;
    top: 0;
    background-color: white;
}

.pause-play-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #02f102;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar {
    width: 400px;
    height: 100%;
    background-color: #232323;
}

.song-component {
    width: 100%;
    height: 5rem;
    border-bottom: 1px solid #3b3b3b;
    color: white;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.song-index {
    color: gray;
    margin-left: 10px;
    font-size: 0.8em;
}

.song-info {
    margin-left: 20px;
    font-size: 1.2rem;
}

.song-duration {
    position: absolute;
    right: 1rem;
    font-size: 1rem;
    color: gray;
}

.artist-name {
    color: gray;
    font-size: 0.8em;
}

.song-image {
    width: 3rem;
    height: 3rem;
    background-size: contain;
    margin-left: 20px;
}

.song-component:hover {
    background-color: #181818;
}

.song-card {
    width: fit-content;
    height: 100%;
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section {
    border-top: 1px solid #3b3b3b;
    margin: 10px;
    padding: 10px;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
}

.section div {
    cursor: pointer;
    width: 100%;
    height: fit-content;
    padding: 5px;
    color: #ababab;
}

.section div:hover {
    background-color: #3b3b3b;
}

.section div:first-child {
    color: white;
}

.song-card-image {
    width: 3rem;
    height: 3rem;
    background-size: contain;
    margin-left: 20px;
}

.song-card-info {
    margin-left: 20px;
}

.song-card-name {
    color: white;
    font-size: 1rem;
}

.song-card-artist {
    color: gray;
    font-size: 0.8rem;
}

