.music-player {
    width: 100%;
    height: 100vh;
    background-color: black;
    position: fixed;
    display: flex;
    flex-direction: row;
}

.music-player-main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.play-bar {
    width: 100%;
    height: 75px;
    position: absolute;
    bottom: 0;
    background-color: #181818;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-bar {
    width: 100%;
    height: 5px;
    position: absolute;
    top: 0;
    background-color: white;
}

.pause-play-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #02f102;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playlist-banner {
    width: 100%;
    height: 300px;
    background-image: url("https://i.redd.it/0k6dlin61s491.png");
    background-size: cover;
    background-position: bottom;
    position: relative;
}

.playlist-banner-title {
    font-size: 50px;
    font-weight: bold;
    color: white;
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.sidebar {
    min-width: 300px;
    max-width: 300px;
    height: 100%;
    background-color: #232323;
}

.song-component {
    height: 70px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding: 0 30px 0 20px;
}

.song-index {
    color: gray;
    margin-left: 10px;
    font-size: 14px;
}

.song-info {
    margin-left: 20px;
    font-size: 16px;
}

.song-duration {
    position: absolute;
    right: 30px;
    font-size: 14px;
    color: gray;
}

.artist-name {
    color: gray;
    font-size: 13px;
}

.song-image {
    width: 40px;
    height: 40px;
    background-size: contain;
    margin-left: 20px;
    background-repeat: no-repeat;
}

.song-component:hover {
    background-color: #181818;
}

.song-card {
    width: fit-content;
    height: 100%;
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section {
    border-top: 1px solid #3b3b3b;
    margin: 10px;
    padding: 10px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
}

.section div {
    cursor: pointer;
    padding: 5px;
    color: #ababab;
}

.section div:hover {
    background-color: #3b3b3b;
}

.section div:first-child {
    color: white;
}

.song-card-image {
    width: 300px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: -300px;
}

.song-card-info {
    margin-left: 20px;
}

.song-card-name {
    color: white;
    font-size: 16px;
}

.song-card-artist {
    color: gray;
    font-size: 13px;
}

